@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --bgColor: #ffffff;
  --textColor: #000000;
  --hoverTextColor: #000000bb;
}

.main_body {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  background-color: var(--bgColor);
  /* background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%); */
  color: var(--bgColor);
}

a {
  text-decoration: none;
  color: var(--textColor);
}

a:hover {
  color: var(--hoverTextColor);
}